body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.notification-corner img {
    height: 30px;
    width: 30px;
}

.user-greeting img {
    height: 50px;
    width: 50px;
}

.header {
    display: grid;
    grid-column: 2/4;
    text-align: start;
}

.searchbar-corner, .notification-corner, .user-options, .user-greeting, .account-options, .dashboard-options, .dashboard-title {
    padding: 10px;
}

.user-projects {
    padding: 20px;
}

#super-cool-project, #impossible-app, #ad-blocker {
    grid-column: 1;
}

#easy-peasy-app, #less-cool-project, #money-maker {
    grid-column: 2;
}

#less-cool-project {
    grid-row: 1;
}

#easy-peasy-app {
    grid-row: 2;
}

#money-maker {
    grid-row: 3;
}

.searchbar {
    display: grid;
    background-color: green;
}

.notification-corner {
    display: grid;
    grid-column: 3/3;
    grid-template-columns: repeat(1, 30px) repeat(1, 1fr);
    padding: 10px;
}

.user-greeting {
    display: grid;
    justify-content: start;
}

.user-greeting-message {
    grid-column: 2;
}

.user-greeting-name {
    font-size: 20px;
}

.user-options {
    display: grid;
    grid-column: 3/3;
    grid-template-columns: repeat(3, 1fr);
}

.sidebar {
    display: grid;
    grid-row: 1/4;
    gap: 40px;
    background-color: aqua;
}

.projects-container {
    display: grid;
    background-color: grey;
    grid-column: 2;
}